h1 {
    color: rgb(123, 189, 135);
    font-size: 20px;
    text-align: center;
    
}
h2{
    font-family: 'Truculenta', sans-serif;
    text-align: center;
}

nav{
    text-align: center;
   
}

ul{
    list-style-type: none;
    display: inline-block;
    text-align:center;
    margin: 0px;
    padding: 0px;
    background-color:rgb(2, 2, 2) ;
    overflow: hidden;
    
}

li{
    float: left
    
}
li a{
    display: block;
    text-align: center;
    padding: 10px 70px; 
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

li a:visited{
    color: white;
}

li a:hover{
    background-color:rgb(123, 189, 135);
    color: black;
}

.centrarimagen{
    display: flex;
    justify-content: center;
}

.alinearflex{ 
    display: flex;
    justify-content: center;
}

.inciarSesion{
    text-align: center;

}

.iniciar{
    text-align: center;
}

.contacto{
    text-align: center;
}

.gallery { 
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    gap: .8em;

}

.gallery__img{
    width: 100%;
    height: 100%;
}

@media screen and (win-width: 320px){
    .body {
        background-color: #ffffff;
}
}